/* CAT - Calendar Administration Tool
** Cascading Style Sheet, Hauptstyle
**
** Autor: Sven Gehring
**
** Informationen zur Lizenz dieses Quellcodes
** finden sie in der beiliegenden LICENSE.md
*/

::-webkit-scrollbar {width: 10px; background-color: #fff;}
::-webkit-scrollbar-track {border-radius: 0px;}
::-webkit-scrollbar-thumb {border-radius: 0px; background-color: #ddd;}
::-webkit-scrollbar-thumb:hover {border-radius: 0px; background-color: #1C86EE;}
@font-face {font-family: 'Ubuntu-Regular'; src: url('../font/ubuntu-regular-webfont.woff') format('woff'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'Ubuntu-Medium'; src: url('../font/ubuntu-medium-webfont.woff') format('woff'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'Ubuntu-Bold'; src: url('../font/ubuntu-bold-webfont.woff') format('woff'); font-weight: normal; font-style: normal;}

* {font-family: Ubuntu-Regular, Arial;}

a {
	text-decoration: none;
	color: #1C86EE;
}

a:hover {color: #104E8B;}

a, a:hover {
	cursor: pointer !important;
	transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	-webkit-transition: color 0.3s ease-in-out;
}



body {
	margin: 0;
	padding: 0;
	min-width: 1350px;
}


/*
** Popups und Fehlermeldungen
*/
#errors {
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.8);
	text-align: center;
	color: #ececec;
	display: none;
}

#errors h4 {
	margin-top: 100px;
}

#popups {
	position: fixed;
	top: 50%;
	left: 30%;
	width: 40%;
	height: auto;
	min-height: 100px;
	margin: -100px 0 0 0;
	background: #fff;
	display: none;
	box-shadow: 1px 1px 2px #ddd, -1px -1px 1px #eee;
	-moz-box-shadow: 1px 1px 2px #ddd, -1px -1px 1px #eee;
	-webkit-box-shadow: 1px 1px 2px #ddd, -1px -1px 1px #eee;
}

#popupclose {
	position: absolute;
	right: 10px;
	top: 10px;
	color: #CD2626;
}

#popupcontent {
	padding: 35px 20px 20px 20px;
}


/*
** Navigation und Benutzerpanel
*/
nav {
	position: fixed;
	left: -15%;
	top: 0;
	width: 15%;
	height: 100%;
	background: #fafafa;
	box-shadow: -1px 0 0 #ddd inset;
	-moz-box-shadow: -1px 0 0 #ddd inset;
	-webkit-box-shadow: -1px 0 0 #ddd inset;
	transition: left 0.5s ease-in-out;
	-moz-transition: left 0.5s ease-in-out;
	-webkit-transition: left 0.5s ease-in-out;
}

#userpanel {
	height: 150px;
	padding: 20px;
}

#userfield {
	background: #efefef;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 1px 1px 2px #ddd;
	-moz-box-shadow: 1px 1px 2px #ddd;
	-webkit-box-shadow: 1px 1px 2px #ddd;
}

#userfield span {
	display: block;
	width: 100%;
}

#userfieldIcon {
	display: inline-block;
	padding: 0 5px;
	float: right;
	text-align:center;
}

.userfieldIconRotate {
	transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

#userfieldVisible {
	padding: 13px 10px;
}

#userfieldVisible:hover {
	cursor:pointer;
}

#userfieldHidden {
	margin: 0;
	padding: 0 10px;
	display: none;
}

#userfieldHidden li {
	list-style-type: none;
	padding: 4px 0;
}

#userfieldHidden li i, #userfieldVisible i{
	display: inline-block;
	width: 20px;
	color: #999;
}

#username {
	display: inline !important;
}


/*
** Menu
*/
#usersites ul {margin: 0;}

#usersites li {
	list-style-type: none;
	margin: 0 0 10px 0;
	border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
}

#usersites li:hover {
	box-shadow: -3px 0 0 #ddd inset;
	-moz-box-shadow: -3px 0 0 #ddd inset;
	-webkit-box-shadow: -3px 0 0 #ddd inset;
}

#usersites li:nth-of-type(2) {
	margin: 0 0 30px 0;
}

#usersites li.active {
	background: #fff;
}

#usersites li.active, #usersites li.active:hover {
	box-shadow: 0 1px 0 #ddd, inset 1px 1px 0 #f4f4f4;
	-moz-box-shadow: 0 1px 0 #ddd, inset 1px 1px 0 #f4f4f4;
	-webkit-box-shadow: 0 1px 0 #ddd, inset 1px 1px 0 #f4f4f4;
}

#usersites a {
	display: block;
	padding: 10px 20px;
}

#usersites a i {
	display: inline-block;
	padding: 0 10px 0 0;
	color: #999;
	float: right;
}

#copyright {
	position: absolute;
	left: 10px;
	bottom: 10px;
	color: #999;
	font-size: 11px;
}


/*
** Formularelemente
*/
input[type="text"], input[type="password"], textarea {
	width: 97%;
	padding: 5px 1% 5px 2%;
	background: #fafafa;
	border: 0px solid #fff;
	box-shadow: inset 1px 1px 2px #ddd;
	-moz-box-shadow: inset 1px 1px 2px #ddd;
	-webkit-box-shadow: inset 1px 1px 2px #ddd;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	color: #1C86EE;
	outline: 0px !important;
}

input[type="submit"]{
	
}


/*
** Fixelemente
*/
.break {clear: both;}
.error {color: #CD2626;}

a.button {
	display: inline-block;
	padding: 3px 5px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

a.button:hover {
	border: 1px solid #ddd;
	background: #ddd;
}

.double {
	width: 100%;
}

.doublepart {
	width: 48%;
	margin: 0 2% 20px 0;
	float: left;
}


/*
** Ladegrafik
*/
#loader {
	display: none;
	width: 75px;
	height: 75px;
	position: absolute; 
	left: 50%;
	top: 50%;
	margin: -37px 0 0 -37px;
	
}

#loader div {
	width: 15px;
	height: 15px;
	margin: 5px;
	float: left;
	background: rgba(0,0,0,0);
}

#loader div:not(:nth-of-type(5)){
	animation: loaderBlink 2.5s linear infinite;
	-webkit-animation: loaderBlink 2.5s linear infinite;
}

#loader div:nth-of-type(5) {
	background: #1C86EE;
	animation: loaderSpin 2.5s linear infinite;
	-webkit-animation: loaderSpin 2.5s linear infinite;
}


/*
** Inhaltscontainer
*/
#content {
	width: 85%;
	height: 100%;
	margin: 0 0 0 15%;
}

#contentInner {
	padding: 20px;
}


/*
** Kalender
*/
.ui-datepicker-prev, .ui-datepicker-next {
	display: inline-block;
	font-size: 3em;
}

.ui-datepicker-prev {
	float: left;
}

.ui-datepicker-next {
	float: right;
	text-align: right;
}

.ui-datepicker-title {
	text-align: center;
	font-size: 1.5em;
	width: 100%;
	padding: 35px 0 15px 0;
}

.ui-datepicker-calendar {
	border: 3px solid #fbfbfb;
	width: 100%;
}

.ui-datepicker-header, .ui-datepicker-calendar thead {
	background: #fbfbfb;
}

.ui-datepicker-calendar thead tr {
	height: 40px;
}

.ui-datepicker-calendar td {
	border: 1px solid #eee;
	padding: 10px;
	vertical-align: top;
}

.ui-datepicker-other-month span {
	color: #999;
}

.ui-datepicker-current-day {
	background: lightblue;
}

.schedule {
	display: block;
	margin: 1px 0;
	padding: 3px 2px;
	background: #bbb;
	min-height: 10px;
}



/*
** Animationen und Übergangseffekte
*/
a.button, a.button:hover {
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

input[type="text"], input[type="password"], textarea, input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
}

#usersites li, #usersites li:hover {
	transition: box-shadow 0.2s ease-in-out;
	-moz-transition: box-shadow 0.2s ease-in-out;
	-webkit-transition: box-shadow 0.2s ease-in-out;
}

@keyframes loaderBlink {
	0%   {background: rgba(0,0,0,0.1);}
	45%  {background: rgba(0,0,0,0);  }
	100% {background: rgba(0,0,0,0.1);}
}
@-webkit-keyframes loaderBlink {
	0%   {background: rgba(0,0,0,0.1);}
	45%  {background: rgba(0,0,0,0);  }
	100% {background: rgba(0,0,0,0.1);}
}

@keyframes loaderSpin {
	0%   {-webkit-border-radius: 0px; -webkit-transform: rotate(0deg);  }
	45%  {-webkit-border-radius: 6px;                                   }
	100% {-webkit-border-radius: 0px; -webkit-transform: rotate(360deg);}
}
@-webkit-keyframes loaderSpin {
	0%   {-webkit-border-radius: 0px; -webkit-transform: rotate(0deg);  }
	45%  {-webkit-border-radius: 6px;                                   }
	100% {-webkit-border-radius: 0px; -webkit-transform: rotate(360deg);}
}